@font-face{font-family:'Bebas Neue';font-style:normal;font-weight:400;font-display:swap;src:url('BebasNeue-400.woff2') format('woff2');}
@font-face{font-family:'Karla';font-style:normal;font-weight:400;font-display:swap;src:url('Karla-400.woff2') format('woff2');}
@font-face{font-family:'Karla';font-style:normal;font-weight:500;font-display:swap;src:url('Karla-500.woff2') format('woff2');}
@font-face{font-family:'Karla';font-style:normal;font-weight:700;font-display:swap;src:url('Karla-700.woff2') format('woff2');}
